{% extends "base.html" %}
{% block content %}
<h2>Login</h2>
<div class="card dark-card" style="max-width:420px;margin:auto">
  <form method="POST" action="{{ url_for('auth.login') }}">
    <label>Usuário:<input type="text" name="username" required autocomplete="username"></label>
    <label>Senha:
      <div style="position:relative">
        <input id="password_input" type="password" name="password" required>
        <span id="toggle_pw" style="position:absolute;right:10px;top:10px;cursor:pointer" onclick="togglePassword('password_input','toggle_pw')">👁️</span>
      </div>
    </label>
    <button class="btn-primary" style="width:100%">Entrar</button>
  </form>
</div>
{% endblock %}
